div class='all-form'
  =render 'shared/message'
  -if @item.errors.any?
    #error_explanation
      ul
       -@item.errors.full_messages.each do |msg|
         li
          = msguxi
  =form_for @item, url: company_items_path(@com) do |f|
    .form-group
      =f.label '时间'
      =f.text_field :time, class: 'form-control', id: 'select'
    .form-group
      =f.label '选择游戏类型:'
      =f.select :coo_game, @games
    .form-group
      =f.label '注册用户数'
      =f.text_field :signupnumber, class: 'form-control'
    .form-group
      =f.label '充值用户数'
      =f.text_field :usernumber, class: 'form-control'
    .form-group
      =f.label '移动金额'
      =f.text_field :yidong, class: 'form-control'
    .form-group
      =f.label '联通金额'
      =f.text_field :liantong, class: 'form-control'
    .form-group
      =f.label '电信金额'
      =f.text_field :dianxing, class: 'form-control'
    =f.submit '添加', class:'btn btn-default'