// Place all the styles related to the applies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#get_data a{
  display: block;
  width: 200px;
  margin: 0px 0px 0px 240px;
  font-size: 20px;
}

#activities{
  margin: 0px auto;
  width:800px;
  height: 200px;
}

#search_and_checkin{
  width: 200px;
  margin: 20px auto;
}

h1{
  text-align: center;
}

#applies table{
  margin: 0px auto;
  width: 800px;
}